{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}


 <div id="page-content-wrapper">
      
        <div class="container-fluid" style="color:#ffffff;">
        <h1 class="mt-4 text-center">Welcome to Hood</h1>

       <p class="mt-4 text-center" > <a href="{% url 'mahoodz' %}" type="button" class="btn btn-info btn-sm">Join</a> your hood to be in the loop about everything happening in their neighborhood.</p>
        
       <p class="mt-4 text-center">  Can't find your hood?  <a href="{% url 'create_hood' %} "type="button" class="btn btn-info btn-sm">Create Hood</a> </p>
      </div>
    </div>
  

{% endblock %}