{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<div class="container-fluid" >
{% if mahoodz %}
    <div class="d-flex flex-wrap justify-content-center">
        {% for hood in mahoodz %}
        <div class="card col-lg-3 col-md-2 m-3 p-2" >
     <img src="{{ hood.picture.url}}" class="card-img-top " id="home-img"alt="{{hood.name}}" style=" width:100%; height:300px; object-fit:cover;
   object-position:50% 50%;">
   
  <div class="card-body">
  
   <h4 class="text-center"> <b>{{hood.name|title}} </b></h4><br>
   <p class=""> Occupants : {{hood.occupant.count}}</p>
   <p class="float-left"> <i class="fas fa-map-marker-alt"></i>   {{hood.location}}</p>
   {% if request.user.profile.neighbourhood == hood %}
    <p class="float-right"><a href="{% url 'leave_mtaa' mtaa.id %}" class="badge badge-danger">Leave hood</a></p>
    {% elif request.user.profile.neighbourhood == None %}
    <p class="float-right"><a href="{% url 'join_hood' hood.id %}" class="badge badge-info">Join Hood</a></p>
    {% endif %}
      
  </div>
  
  
</div>
       
        {% endfor %}
    </div> 
    {% endif %}
</div>
{% endblock content %}